In [1]:
from google.colab import drive
drive.mount('/gdrive')

# Change the path to where you uploaded the csv file on google drive
#   to access the file.
proj_folder_path = '/gdrive/My Drive/Colab Notebooks'

# Change the present working directory to the proj_folder_path so that any output
#   files you write will also be saved there.
%cd {proj_folder_path}

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/My Drive/Colab Notebooks

In [5]:
import pandas as pd

# Reads the csv file into a pandas dataframe
data = pd.read_csv("Data.csv")

# Removes the last column of the table
#   that starts with 'Unnamed' and has NaN vals
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

# References


1.   https://www.shanelynn.ie/python-pandas-read_csv-load-data-from-csv-files/
2.   https://www.youtube.com/watch?time_continue=132&v=azF79AUgx1g&feature=emb_logo
3.   https://www.kaggle.com/uciml/breast-cancer-wisconsin-data